.footer-container {
  margin-top: 20px;
  height: 50px;
  width: 376px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid lightgray;
}
.circle-middle {
  height: 15px;
  width: 15px;
  border: 1px solid lightgray;
  border-radius: 50%;
  z-index: 1;
}
.circle-small {
  height: 5px;
  width: 5px;
  border: 1px solid green;
  background-color: green;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 0;
  margin-right: 31px;
  margin-top: 1px;
}
.circle-big {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.circle-big-in {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
  z-index: 4;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: forestgreen;
}
.footer-call {
  display: flex;
  height: 20px;
  width: 20px;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  left: 12%;
  top: 79%;
  z-index: 5;
}
